---
import Layout from "../layouts/Layout.astro";

import { homeSEO } from "../utils/seoconfig";
---

<Layout title={homeSEO.title} description={homeSEO.description}>
  <section class="w-full bg-black text-white flex overflow-visible">
    <container class="px-6 max-w-5xl w-full mx-auto h-[400px] mt-[92px]">
      <div class="flex
      justify-between content-end align-bottom">
        <div class="w-2/3 text-pretty flex flex-col gap-6">
          <h1 class="font-black text-3xl">
            Smart Communities for a Better Living
          </h1>
          <p>
            We empower multifamily living spaces, enhancing the quality of life
            for residents, owners and management teams.
          </p>
        </div>
        <button class="primary-button">Discover More</button>
      </div>
      <img class="w-full mt-6" src="/image21.png" />
    </container>
  </section>
  <section class="w-full h-screen bg-white text-black flex pt-[320px]">
    <container class="px-6 max-w-5xl w-full mx-auto">
      <div class="flex
      justify-between content-end align-bottom">
        <div class="w-5/6 flex flex-col gap-6">
          <h1 class="font-black text-3xl">
            The future of Community Management
          </h1>
          <p>
            All of our technologies come together in one <b
              >accessible platform
            </b>to create more <b>efficient, secure</b>, and <b
              >sustainable environments.</b
            > Connect, Control, Empower.
          </p>
        </div>
      </div>
    </container>
  </section>
</Layout>
