---

---

<section class="bg-black text-base pt-16 pb-24 text-white flex justify-center">
  <footer class="max-w-5xl px-6 py-4 mx-auto w-full">
    <div class="flex flex-col items-center">
      <div class="flex justify-between w-full">
        <a href="/"><img src="/logo.svg" /></a>
        <div class="flex flex-col gap-4">
          <span class="text-lg font-bold">Solutions</span>
          <ul>
            <a><li>Smart H2O</li></a>
            <a><li>Temp Sync</li></a>
            <a><li>Smart Watt</li></a>
            <a><li>Access</li></a>
            <a><li>Sentry Eye</li></a>
          </ul>
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-lg font-bold flex ite">Contact</span>
          <ul>
            <a><li>Sales: +1 888 8887874</li></a>
            <a><li>Customer service: +1 888 8887874</li></a>
          </ul>
          <ul></ul>
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-lg font-bold">Keep in touch</span>
          <form class="flex flex-col align-top gap-4">
            <input
              type="email"
              class="py-2 px-2 border-[1px] rounded-md bg-black"
            />
            <button type="submit" class="bg-[#4257F1] py-3 px-14 rounded-xl"
              >Subscribe</button
            >
          </form>
        </div>
      </div>
      <div class="h-[1px] w-full bg-neutral-600 mt-16 mb-4"></div>
      <span>Connect IoT © 2024</span>
    </div>
  </footer>
</section>
