---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        height: auto;
        font-family: Helixa;
        font-size: 16px;
      }

      .primary-button {
        padding: 14.5px 25.5px;
        background-color: #4257f1;
        border-radius: 11px;
      }
    </style>
  </body>
</html>
